@{
    ViewBag.Title = "About Us";
    ViewBag.Class = "container body-content";

}
<h2>@ViewBag.Title.</h2>

<p><img class="image About responsive" src="~/Photos/About.jpeg" alt="checking results on phone" /></p>

<p>Getting your laboratory test results from your medical provider should be easy. That's why we created TestChek. Once the laboratory verifies your test results in their computer systems, the results are stored in a database and immediately become accessible to you. Just log into your personal account on our website to view your results at your convenience, 24/7.</p>
