
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
    ViewBag.Class = "container-fluid";
    ViewBag.Display = "index-footer";
}

<div class="hero-image-provider">
    <div class="hero-text">
        <h1>Your Test Results. Anytime.</h1>
        <h3>Get the answers you need, when you need them.</h3>
    </div>
</div>

<h2>Provider Menu</h2>

