
@{
    ViewBag.Title = "What Do My Test Results Mean?";
    ViewBag.Class = "container body-content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>What do my test results mean?</h2>

<p><img class="image WhatDoMyTestResultsMean responsive" src="/Photos/WhatDoMyTestResultsMean.jpeg" alt="confused patient" /></p>

<p>Test results can be difficult to understand, as you may be faced with unfamiliar words and seemingly random numbers. We'd like to help bring clarity and understanding to your medical treatment.</p>

<p><a href="https://labtestsonline.org/tests-index">Lab Tests Online</a> is a great educational tool. There, you can search for specific tests, learn why testing is performed, and see what specific test result values indicate. </p>

