
@{
    ViewBag.Title = "Who Performs These Tests?";
    ViewBag.Class = "container body-content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who Performs These Tests?</h2>

<p><img class="image WhoPerformsTheseTests responsive" src="/Photos/WhoPerformsTheseTest.jpeg" alt="laboratory scientist" /></p>


<p>Medical laboratory scientists (also known as medical technologists) perform all of the diagnostic testing for doctors and nurses. These tests are done on many types of bodily fluids using a wide range of testing methods. Based on the laboratory results, doctors and nurses are able to keep treating the patients and make any necessary changes. Click <a href="http://www.ascls.org/what-is-a-medical-laboratory-science-professional">here</a> to visit The American Society for Clinical Laboratory Science website to learn more.</p>


